<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<environment names="Development">
    <script src=@Url.Content("~/dist/main.js")></script>
</environment>
<environment names="Staging,Production">
    <script src=@Url.Content("~/dist/main.js") asp-append-version="true"></script>
</environment>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
