@model Recipe.Controllers.HomeController.TestModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="root""></div>
<script type="text/javascript">
    document.RecipeApp = { model: @Html.Raw(Json.Serialize(Model)) };
</script>
<script src=@Url.Content("~/dist/App.js") type="text/javascript"></script>